body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

@font-face {
    font-family: Aleo;
    src: url(Branding/ALEO-REGULAR-WEBFONT.ttf);
}

button:focus {outline: none; }

.top-navigation {
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: white;
  z-index: 50;
    ;
}

.logo-wrapper > img {
    width: 40px;
    margin-top: 7px;
   
}

.logo-wrapper {margin:auto; width: 50px;}

.logo-container {position: fixed; width: 100%;}


.livefeed > iframe {
    width: 100%;
    height: 200px;
}

.feed-text-container > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    ;
}

.action-button {
    margin: auto;
    width: 340px;
    margin-top: 10px
}

.feed {
    position: absolute;
    top: 100px;
    width: 100%;
    ;
}

.action-button > a > button {
    width: 156px;
    height: 49px;
border: none;
    background-color: white;
    margin-left: 10px;
    font-size: 15px;
    font-weight: normal;
}

.spacer {
    height: 55px;
    width: 100%;
}

.divider {width: 100%; height: 1px; background-color: lightgray; opacity: 0.5;}

.swipe-container {
    margin-top: 10px;
}

.swipe-container > h3 {
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
}

.video {margin: auto; width: 100%;border-radius: 10px;}

.video > video {object-fit: cover;height: 200px;;border-radius: 0.3px;}

video > source {object-fit: cover; height: 200px;}

.sub-swipe {
    overflow-x: scroll;
    white-space: nowrap;
}

.sub-swipe > a > img {
    width: 120px;
    height: 120px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    display: inline-block;
    margin-left: 10px;
    border-radius: 10px;
}

.text-wrapper {}

.result-list {position: fixed; left: 0px; top: 50px; z-index: 100;;}

.result-list > li > a {text-decoration: none; }

.result-list > li {list-style-type: none;}

.hero-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.text-wrapper > h3 {
    font-size: 25px;
    font-family: Aleo;
    text-align: center;
    color: white;
}

.text-wrapper {
    margin: auto;
    width: 340px
}

.text-wrapper > h4 {
    font-size: 17px;
    font-family: Aleo;
    font-weight: lighter;
    margin-top: -20px;
    color: white;
    text-align: center;
}

.text-swipe {display: inline-block;height: 122px;width: 200px;}

.text-swipe > span {font-size: 12px; }

.text-swipe > h3 { font-size: 14px;}

.nav-support {
    margin: auto;
    width: 330px;
}

.bottom-navigation {
    position: fixed;
    bottom: 0px;
 z-index: 100;
    width: 100%;
    height: 54px;
    background-color: white;
}

.navigator-container {
    display: inline-block;
   
    margin-left: 20px
}



.navigator-container > a > img {
    width: 80px;
}

/*-----------------------------Search-------------------------------*/

.search-input {height: 40px;border-radius: 50px;border:none; background-color: #F5F5F5;text-align: left;z-index: 55;width: 100%;padding-left: 30px;}

.search-input-container {margin: auto; width: 330px; }

.search-input:focus {outline: none; }

.search-icon { top: 18px;z-index: 56;color:#757575; left:115px; }

.search-input::placeholder {}

.search-btn {border:none; background-color: white; position: fixed; right: 15px; top:15px; z-index:105; }


/*-----------------------------Menu-------------------------------*/

.menu-branding {width: 210px;margin-left: 25px}

.menu-branding > h3 {font-size: 20px; font-family: aleo;color: #1C2857}
.menu-branding > h4 {font-size: 17px; font-family: aleo;margin-top: -15px; color: #1C2857}

#menu {background-color: white; }
#panel {border: solid; border-width: 1px; border-color: lightgray; }

.button-container {margin: auto; width: 230px;}

.menu-button > i {float: left;padding-top: 10px;color: #707070;}
.menu-button > h3 {float: left;margin-left: 30px;margin-top: 0px;padding-top: 13px;font-weight: normal;}

.menu-button { width: 100%;margin-top: 10px;border: none;text-align: left;background-color: white; }


.open {position: fixed; left: 10px; top: 4px; background-color: white; border: none; width: px;height: 50px;;}

.open > i {font-size: 25px}

.close {position: fixed; left: 5px; top: 4px; background-color: white; border: none; width: 50px;height: 50px;;}

.close > i {font-size: 25px}

.main-frame {width: 100%; height: 100%; border: none;border-radius: 10px; }

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader {

    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #1C2857;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 1.2s linear infinite;
    
}

.loader-container {position: fixed;;
top:67px; right: 10px;
    background-color: white; 
    border-radius: 100px;   
padding: 5px;
z-index: 100;;
}

.go {display:none;}

.side-grip {position: fixed; left: 0px; width: 200px; height: 100%;background-color: green;top: 0px;;}

.frame-container {}

.swipe-container-buttons > a > button {background-color: white; border: none; background-color: #f5f5f5;padding-right: 25px; padding-left: 25px; padding-top: 4px; padding-bottom: 4px; margin-left: 10px;border-radius: 50px;height: 35px; }

.swipe-container-buttons {overflow-x: scroll; white-space: nowrap;}
