body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

@font-face {
    font-family: Aleo;
    src: url(Branding/ALEO-REGULAR-WEBFONT.ttf);
}

button:focus {outline: none; }

body {scroll-behavior: smooth;}

.top-navigation {
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: white;
  z-index: 50;
    ;
}

.logo-wrapper > img {
    width: 40px;
    margin-top: 7px;
   
}

.logo-wrapper {margin:auto; width: 50px;}

.logo-container {position: fixed; width: 100%;}


.livefeed > iframe {
    width: 100%;
    height: 200px;
}

.feed-text-container > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    ;
}

.action-button {
    margin: auto;
    width: 340px;
    margin-top: 10px
}

.feed {
    position: absolute;
    top: 100px;
    width: 100%;
    ;
}

.action-button > a > button {
    width: 156px;
    height: 49px;
border: none;
    background-color: white;
    margin-left: 10px;
    font-size: 15px;
    font-weight: normal;
}

.spacer {
    height: 55px;
    width: 100%;
}

.divider {width: 100%; height: 1px; background-color: lightgray; opacity: 0.5;}

.swipe-container {
    margin-top: 10px;
}

.swipe-container > h3 {
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
}

.video {margin: auto; width: 100%;border-radius: 10px;margin-top: 30px;}

.video > video {object-fit: cover;height: 200px;;border-radius: 0.3px;}

video > source {object-fit: cover; height: 200px;}


.styled-form > input {width: 100%;margin-top: 10px;border-radius: 20px; border: none;padding-left: 40px; border: solid;
border-width: 1.3px; border-color: lightgray;  word-wrap: break-word;
word-break: break-all;padding-top: 10px;padding-bottom: 10px;}

.styled-form > textarea {width: 100%;margin-top: 10px;border-radius: 20px; border: none;padding-left: 40px; border: solid;
    border-width: 1.3px; border-color: lightgray;  word-wrap: break-word;
    word-break: break-all;padding-top: 10px;padding-bottom: 10px;height: 100px;font-family:roboto, sans-serif;}

    textarea:focus {outline: none; outline: none;border-color:#1C2857 ; border: solid;border-width: 1.3px;}

.styled-form > button {width: 100%; height: 40px; background-color: #1C2857; color: white; border: none; border-radius:20px;margin-top: 10px;}

.styled-form > input:focus {outline: none;border-color:#1C2857 ; border: solid;border-width: 1.3px;}

.form-styled {width: }

.form-container {margin: auto; width: 340px;}

.sub-swipe {
    overflow-x: scroll;
    white-space: nowrap;
}

.sub-swipe > a > img {
    width: 120px;
    height: 120px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    display: inline-block;
    margin-left: 10px;
    border-radius: 10px;
    object-fit: cover
}

.sub-swipe > a > p {display: inline-block;margin-left: -100px;padding-right: 16px;}

.swipe-container-buttons {position: sticky; top: 55px;background-color: white;padding-bottom: 5px;z-index: 100;}

.text-wrapper {}




.hero-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.text-wrapper > h3 {
    font-size: 25px;
    font-family: Aleo;
    text-align: center;
    color: white;
}

.text-wrapper {
    margin: auto;
    width: 340px
}

.text-wrapper > h4 {
    font-size: 17px;
    font-family: Aleo;
    font-weight: lighter;
    margin-top: -20px;
    color: white;
    text-align: center;
}

.text-swipe {display: inline-block;height: 122px;width: 200px;}

.text-swipe > span {font-size: 12px; }

.text-swipe > h3 { font-size: 14px;}

.nav-support {
    margin: auto;
    width: 330px;
}


  .MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .ContentContainer {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
  }
  
  .Content {
    max-width: 750px;
    margin: 0 auto;
   
  }
  

  
  .ParallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 235px;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);


  }

  

.bottom-navigation {
    position: fixed;
    bottom: 0px;
 z-index: 100;
    width: 100%;
    height: 56px;
    background-color: white;
    border-top: solid 1.3px lightgray; 

}

.nav-container {margin: auto;width: 365px;}

.nav-container > button > img {margin-left: 0px;width: 65px;}

.nav-container > a > button {border: none; background-color: white; }

.nav-container > a > button > img {margin-left: 0px;width: 65px;}

.nav-container > button {border-top: solid;  background-color: white;border-color: transparent; transition: 0.5s ease;border-width: 0px; }

.nav-container > button:focus { border-top: solid;border-width: 1.3px; border-color: }
/*-----------------------------Search-------------------------------*/

.search-input {height: 40px;border-radius: 50px;border:none; background-color: #F5F5F5;text-align: left;z-index: 55;width: 100%;padding-left: 30px;}

.search-input-container {margin: auto; width: 330px;background-color:  }

.search-input:focus {outline: none; }

.search-icon { top: 18px;z-index: 56;color:#757575; left:115px; }

.search-input::placeholder {}

.search-wrapper {background-color: white; width: 100%; position: fixed; top: 55px; z-index: 50;padding-bottom: 7px; ;}

.result-list {margin: auto; width: 310px; }

.result-list > li > a {text-decoration: none;color: #1C2857; }

.result-list > li {list-style-type: none; margin-top: 10px;padding: 10px;border-radius: 50px;width: 310px;margin-left: -30px;}

.search-btn {border:none; background-color: white; position: fixed; right: 15px; top:15px; z-index:105; }


/*-----------------------------Menu-------------------------------*/

.menu-branding {width: 210px;margin-left: 25px}

.menu-branding > h3 {font-size: 20px; font-family: aleo;color: #1C2857}
.menu-branding > h4 {font-size: 17px; font-family: aleo;margin-top: -15px; color: #1C2857;font-weight:normal;}

#menu {background-color: white; }
#panel {border: solid; border-width: 1px; border-color: lightgray; }

.button-container {margin: auto; width: 230px;}

.menu-button > i {float: left;padding-top: 10px;color: #707070;}
.menu-button > h3 {float: left;margin-left: 30px;margin-top: 0px;padding-top: 13px;font-weight: normal;}

.menu-button { width: 100%;margin-top: 10px;border: none;text-align: left;background-color: white; }


.open {position: fixed; left: 10px; top: 4px; background-color: white; border: none; width: px;height: 50px;;}

.open > i {font-size: 25px}

.close {position: fixed; left: 5px; top: 4px; background-color: white; border: none; width: 50px;height: 50px;;}

.close > i {font-size: 25px}

.main-frame { width: 100%; height: 100%; border: none;border-radius: 10px;left: 0px; }

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader {

    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #1C2857;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 1.2s linear infinite;
    
}

.loader-container {position: fixed;;
top:67px; right: 10px;
    background-color: white; 
    border-radius: 100px;   
padding: 5px;
z-index: 100;;
}

.go {display:none;}

.side-grip {position: fixed; left: 0px; width: 200px; height: 100%;background-color: green;top: 0px;;}

.frame-container {-webkit-overflow-scrolling: touch;}

.swipe-container-buttons > a > button {background-color: white; border: none; background-color: #f5f5f5;padding-right: 25px; padding-left: 25px; padding-top: 4px; padding-bottom: 4px; margin-left: 10px;border-radius: 50px;height: 35px; }

.swipe-container-buttons {overflow-x: scroll; white-space: nowrap;}
.sub-frame-container {margin: auto; width: 95%; }
.sub-frame-container > iframe {border-radius:10px;}

/*-----------------------Snack Bar----------------------------*/

#snackbar {
    visibility: hidden;


    background-color: white;
    color: black;
    text-align: center;
    border-radius: 2px;
   
    position: fixed;
    z-index: 1;

    bottom:50px;
    font-size: 16px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
   width: 100%;
   padding-bottom: 20px;
   padding-top: 20px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 50px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 50px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }