body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

@font-face {
    font-family: Aleo;
    src: url(Branding/ALEO-REGULAR-WEBFONT.ttf);
}

.top-navigation {
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: white;
  
    ;
}

.logo-container > img {
    width: 40px;
    margin-top: 7px;
    margin-left: 10px;
}

.livefeed > iframe {
    width: 100%;
    height: 200px;
}

.feed-text-container > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    ;
}

.action-button {
    margin: auto;
    width: 340px;
    margin-top: 10px
}

.feed {
    position: absolute;
    top: 100px;
    width: 100%;
    ;
}

.action-button > a > button {
    width: 156px;
    height: 49px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    background-color: white;
    margin-left: 10px;
    font-size: 15px;
    font-weight: normal;
}

.spacer {
    height: 55px;
    width: 100%;
}


.swipe-container {
    margin-top: 10px;
}

.swipe-container > h3 {
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
}

.sub-swipe {
    overflow-x: scroll;
    white-space: nowrap;
}

.sub-swipe > a > img {
    width: 120px;
    height: 120px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    display: inline-block;
    margin-left: 10px
}

.text-wrapper {}

.hero-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.text-wrapper > h3 {
    font-size: 25px;
    font-family: Aleo;
    text-align: center;
    color: white;
}

.text-wrapper {
    margin: auto;
    width: 340px
}

.text-wrapper > h4 {
    font-size: 17px;
    font-family: Aleo;
    font-weight: lighter;
    margin-top: -20px;
    color: white;
    text-align: center;
}

.nav-support {
    margin: auto;
    width: 330px;
}

.bottom-navigation {
    position: fixed;
    bottom: 0px;
 
    width: 100%;
    height: 54px;
    background-color: white;
}

.navigator-container {
    display: inline-block;
   
    margin-left: 20px
}

.navigator-container > a > img {
    width: 80px;
}

.search-input {position: fixed;top: 8.5px; margin-left:60px;width: 80%;height: 40px;border-radius: 50px;border:none; background-color: #F5F5F5;text-align: left;padding-left:32px;}

.search-input:focus {outline: none; }

.search-icon {position: fixed; top: 18px;z-index: 10;color:#757575; left:75px; }

.search-input::placeholder {}